<div class="main-contet" data-aos="fade-up" data-aos-duration="1000">
    <div class="title">
        <h2>Frontend Developer</h2>
    </div>
    <div class="name">
        <h1>{{"myName" | translate }}</h1>
    </div>
    <div class="buttons-container">
        <a class="btn-outline" href="#projects"><span class="slide-text">{{"checkMyWork" | translate }}</span></a>
        <a class="btn-outline" href="#contact-me"><span class="slide-text">{{"contactMe" | translate }}</span></a>
    </div>
    <div class="slide-text">
        <app-slide-text></app-slide-text>
    </div>
    <div class="social-media">
        <div class="line-left-container">
            <div>
                <button class="arrow-down"><img class="bounce-button" src="assets/img/arrow-down.png" alt=""></button>
            </div>
            <div class="line-left"></div>
        </div>
        <div class="line-right-container">
            <div class="email">
                <a href="mailto:mail@mihael-drazic.de">mail&#64;mihael-drazic.de</a>
            </div>
            <div class="social">
                <div class="email-container">
                    <a href="mailto:mail@mihael-drazic.de"><img src="assets/img/email.png" alt=""></a>
                    <span class="dot">•</span>
                    <a class="email-hover" href="mailto:mail@mihael-drazic.de"><img src="assets/img/email-white.png"
                            alt=""></a>
                </div>
                <div class="github-container">
                    <a target="_blank" href="https://github.com/Mihael0599"><img src="assets/img/github.png" alt=""></a>
                    <span class="dot">•</span>
                    <a class="github-hover" target="_blank" href="https://github.com/Mihael0599"><img
                            src="assets/img/github_white.png" alt=""></a>
                </div>
                <div class="linkedin-container">
                    <a target="_blank" href="https://www.linkedin.com/in/mihael-dra%C5%BEi%C4%87-388b86163/"><img
                            src="assets/img/linkedin.png" alt=""></a>
                    <span class="dot">•</span>
                    <a class="linkedin-hover" target="_blank"
                        href="https://www.linkedin.com/in/mihael-dra%C5%BEi%C4%87-388b86163/"><img
                            src="assets/img/linkedin_white.png" alt=""></a>
                </div>
            </div>
            <div class="line-right"></div>
        </div>
    </div>
</div>