<div class="main-contet">
    <div class="title">
        <h2>Fonrted Developer</h2>
    </div>
    <div class="name">
        <h1>Mihael Drazic</h1>
    </div>
    <div class="buttons-container">
        <div>
            <a>Check my Work</a>
        </div>
        <div>
            <a>Contact Me</a>
        </div>
    </div>
    <div class="slide-text">
        <ul>
            <li>•</li>
            <li>Frontend Developer</li>
            <li>•</li>
            <li>Open to Work</li>
            <li>•</li>
            <li>Available for remote work</li>
            <li>•</li>
            <li>Based in Spaichingen</li>
            <li>•</li>
        </ul>
        <ul>
            <li>Frontend Developer</li>
            <li>•</li>
            <li>Open to Work</li>
            <li>•</li>
            <li>Available for remote work</li>
            <li>•</li>
            <li>Based in Spaichingen</li>
            <li>•</li>
        </ul>
    </div>
    <div class="line-left-container">
        <div>
            <img src="assets/arrow-down.png" alt="">
        </div>
        <div class="line-left"></div>
    </div>
    <div class="line-right-container">
<!--         <div class="email">
            <span>mihaeldrza10gmail.com</span>
        </div> -->
        <div>
            <img src="assets/github.png" alt="">
        </div>
        <div>
            <img src="assets/linkedin.png" alt="">
        </div>
        <div class="line-right"></div>
    </div>
</div>