.main-contet {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 140px);
    width: 100%;
    max-width: 1920px;
    background: linear-gradient(55.22deg, #1C1C1C 36.26%, #08463B 93.28%);
}

button {
    border: none;
    background: none;
    padding: 0;
}

.title {
    >h2 {
        font-family: Fira Code;
        font-weight: 400;
        font-size: 40px;
        line-height: 100%;
        letter-spacing: 0%;
        color: #D9D9D9;
    }
}

.name {
    >h1 {
        font-family: Karla;
        font-weight: 700;
        font-size: 128px;
        line-height: 100%;
        letter-spacing: -2%;
        color: #D9D9D9;
    }
}

.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    padding-top: 40px;

    >div {
        border: 1px solid white;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 48px;
        width: 172px;
        border-radius: 100px;

        >a {
            font-size: 20px;
        }
    }
}


.line-left-container {
    position: absolute;
    bottom: 0px;
    left: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
}

.line-left {
    border-left: 1px solid #3DCFB6;
    height: 240px;
}

.line-right-container {
    position: absolute;
    bottom: 0px;
    right: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
}

.line-right {
    border-left: 1px solid #3DCFB6;
    height: 186px;
}

.email {
    transform: rotate(-90deg);
    color: white;
    font-size: 22px;
    position: relative;
    bottom: 100px;
}

.slide-text {
    width: 100%;
    max-width: 1920px;
}

.social-media {
    width: 100%;
    max-width: 1920px;
}

.arrow-down {
    width: 30px;
    height: 48px;
    border:  1px solid #3DCFB6;
    border-radius: 50px;
    cursor: pointer;
}

.bounce-button {
    animation: floatUpDown 2s ease-in-out infinite;
    position: relative;
}

@keyframes floatUpDown {

    0%,
    100% {
        top: 0;
    }

    50% {
        top: 10px;
        
    }
}