<div class="content" id="about-me">
    <div class="image-container">
        <div>
            <img class="myimg" src="assets/img/mypicture.jpg" alt="">
        </div>
    </div>
    <div class="about-me">
        <div class="title">
            <h1>{{"aboutMeTitle" | translate}}</h1>
        </div>
        <div class="description-container">
            <div>
                <h1>About me</h1>
            </div>
            <div class="description">
                <p>Hey there, I'm Mihael! I am Frontend Developer Write some information about yourself that is IT related. Why are you
                    passionate about coding? What is your source of inspiration for improving your programming skills?
                </p>
            </div>
            <div class="cards-container">
                <div class="cards">
                    <div>
                        <img src="assets/img/location.png" alt="">
                    </div>
                    <div>
                        <p>Where are you based? Would you be open to working remotely or potentially relocating?</p>
                    </div>
                </div>
                <div class="cards">
                    <div>
                        <img src="assets/img/abotumeicon.png" alt="">
                    </div>
                    <div>
                        <p>Show that you are open-minded. Are you enthusiastic about learning new technologies and
                            continually improving your skills?</p>
                    </div>
                </div>
                <div class="cards">
                    <div>
                        <img src="assets/img/check.png" alt="">
                    </div>
                    <div>
                        <p>A brief description of your problem-solving approach.
                            Do you learn from each challenge as you search for the most efficient or elegant solution?
                            You can include some keywords like: analytical thinking, creativity, persistence and
                            collaboration.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>