<div class="content" id="about-me" data-aos="fade-up" data-aos-duration="1000">
    <div class="image-container">
        <div>
            <img class="myimg" src="assets/img/mypicture.jpg" alt="">
        </div>
    </div>
    <div class="about-me">
        <div class="title">
            <h1>{{"whoAmI" | translate}}</h1>
        </div>
        <div class="description-container">
            <div>
                <h1>{{ "aboutMeTitle" | translate }}</h1>
            </div>
            <div class="description">
                <p>{{"aboutMeDescription" | translate}}
                </p>
            </div>
            <div class="cards-container">
                <div class="cards">
                    <div>
                        <img src="assets/img/location.png" alt="">
                    </div>
                    <div>
                        <p>{{"aboutMeLocation" | translate }}</p>
                    </div>
                </div>
                <div class="cards">
                    <div>
                        <img src="assets/img/abotumeicon.png" alt="">
                    </div>
                    <div>
                        <p>{{"aboutMeMindSet" | translate }}</p>
                    </div>
                </div>
                <div class="cards">
                    <div>
                        <img src="assets/img/check.png" alt="">
                    </div>
                    <div>
                        <p>{{"aboutMeProblemSolving" | translate }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>