<div class="content">
    <div class="image-container">
        <div>
            <img class="myimg" src="assets/mypicture.jpg" alt="">
        </div>
    </div>
    <div class="about-me">
        <div class="title">
            <h1>Who I am</h1>
        </div>
        <div class="description-container">
            <div>
                <h1>About me</h1>
            </div>
            <div class="description">
                <h2>Hey there, I'm Lukas! Write some information about yourself that is IT related. Why are you
                    passionate about coding? What is your source of inspiration for improving your programming skills?
                </h2>
            </div>
            <div class="cards-container">
                <div class="cards">
                    <div>
                        <img src="assets/location.png" alt="">
                    </div>
                    <div>
                        <h3>Where are you based? Would you be open to working remotely or potentially relocating?</h3>
                    </div>
                </div>
                <div class="cards">
                    <div>
                        <img src="assets/abotumeicon.png" alt="">
                    </div>
                    <div>
                        <h3>Show that you are open-minded. Are you enthusiastic about learning new technologies and
                            continually improving your skills?</h3>
                    </div>
                </div>
                <div class="cards">
                    <div>
                        <img src="assets/check.png" alt="">
                    </div>
                    <div>
                        <h3>A brief description of your problem-solving approach.
                            Do you learn from each challenge as you search for the most efficient or elegant solution?
                            You can include some keywords like: analytical thinking, creativity, persistence and
                            collaboration.
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>