@import '../../../styles.scss';

.header {
  @include dFlex(space-between);
  padding-top: 32px;
  max-width: 1920px;
  width: 100%;
  height: 98px;
}

.buttons {
  @include dFlex();
  gap: 24px;
  padding-left: 96px;

  >div {
    >a {
      font-size: 24px;
      font-family: 'Fira Code';
      font-weight: 400;
    }
  }
}

.logo-mobile {
  display: none;
}

.logo-hover {
  display: none;
}

.logo {
  padding-right: 96px;
  height: 110px;
  width: 200px;
  background-image: url('./../../../assets/img/logo.png');
  background-size: contain;
  background-repeat: no-repeat;

  &:hover {
    background-image: url('./../../../assets/img/logo_hover.png');
  }
}

.logo-mobile {
  padding-right: 96px;
  height: 110px;
  width: 200px;
  background-image: url('./../../../assets/img/md.png');
  background-size: contain;
  background-repeat: no-repeat;

  &:hover {
    cursor: pointer;
  }
}

.links {
  @include dFlex();
  flex-direction: row;
  gap: 24px;

  >a {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;

    &:hover {
      cursor: pointer;
    }
  }
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #6AD7BF;
  opacity: 0;
  transition: opacity 0.2s ease-in;
}

.dot-visible {
  opacity: 1;
}

.burger-menu {
  display: none;
}

@media (max-height: 1000px) {
  .header {
    background: linear-gradient(165deg, #1C1C1C 36.26%, #08463B 93.28%);
  }
}

@media (max-width: 991px) {
  .logo {
    display: none;
  }

  .buttons {
    display: none;
  }

  .burger-menu {
    display: flex;
  }

  .logo-mobile {
    display: flex;
  }
}