<div class="header">
    <div class="buttons">
        <div>
            <div class="language-switch" [ngClass]="{ 'active-de': currentLang === 'de' }" (click)="toggleLanguage()">
                <div class="toggle-bg"></div>
                <div class="lang en" [ngClass]="{ 'active': currentLang === 'en' }">EN</div>
                <div class="lang de" [ngClass]="{ 'active': currentLang === 'de' }">DE</div>
            </div>
        </div>
        <div><a href="">About me</a></div>
        <div><a href="">Skills</a></div>
        <div><a href="">Projects</a></div>
    </div>
    <div class="logo">
    </div>
</div>