<section class="imprint-section">
  <h1>{{ 'imprint.title' | translate }}</h1>

  <h2>{{ 'imprint.responsible.title' | translate }}</h2>
  <p>{{ 'imprint.responsible.name' | translate }}</p>

  <h3>{{ 'imprint.address.title' | translate }}</h3>
  <p>{{ 'imprint.address.details' | translate }}</p>

  <h3>{{ 'imprint.contact.title' | translate }}</h3>
  <p>{{ 'imprint.contact.email' | translate }}</p>
  <p>{{ 'imprint.contact.phone' | translate }}</p>

  <h2>{{ 'imprint.website.title' | translate }}</h2>

  <h3>{{ 'imprint.website.copyright' | translate }}</h3>
  <p>{{ 'imprint.website.copyrightNote' | translate }}</p>

  <h3>{{ 'imprint.website.editorial' | translate }}</h3>
  <p>{{ 'imprint.website.editorialNote' | translate }}</p>

  <h2>{{ 'imprint.vsbg.title' | translate }}</h2>
  <p>{{ 'imprint.vsbg.text2' | translate }}</p>

  <p [innerHTML]="'imprint.generatedNote' | translate"><em></em></p>
</section>