<section class="privacy-policy">
  <h1>{{ 'privacy.headline' | translate }}</h1>

  <article>
    <h2>{{ 'privacy.general.title' | translate }}</h2>
    <p>{{ 'privacy.general.responsible' | translate }}</p>
    <p>{{ 'privacy.general.company' | translate }}</p>
    <p>{{ 'privacy.general.address' | translate }}</p>
  </article>

  <article>
    <h2>{{ 'privacy.dataProcessing.title' | translate }}</h2>
    <p>{{ 'privacy.dataProcessing.collection' | translate }}</p>
    <p>{{ 'privacy.dataProcessing.purpose' | translate }}</p>
    <p>{{ 'privacy.dataProcessing.recipients' | translate }}</p>
    <p>{{ 'privacy.dataProcessing.thirdCountry' | translate }}</p>
    <p>{{ 'privacy.dataProcessing.storage' | translate }}</p>
  </article>

  <article>
    <h2>{{ 'privacy.websiteSpecific.title' | translate }}</h2>
    <p>{{ 'privacy.websiteSpecific.note' | translate }}</p>
  </article>

  <article>
    <h2>{{ 'privacy.usageData.title' | translate }}</h2>
    <p>{{ 'privacy.usageData.description' | translate }}</p>
    <ul>
      <li>{{ 'privacy.usageData.points.0' | translate }}</li>
      <li>{{ 'privacy.usageData.points.1' | translate }}</li>
      <li>{{ 'privacy.usageData.points.2' | translate }}</li>
      <li>{{ 'privacy.usageData.points.3' | translate }}</li>
      <li>{{ 'privacy.usageData.points.4' | translate }}</li>
      <li>{{ 'privacy.usageData.points.5' | translate }}</li>
      <li>{{ 'privacy.usageData.points.6' | translate }}</li>
    </ul>
    <p>{{ 'privacy.usageData.security' | translate }}</p>
  </article>

  <article>
    <h2>{{ 'privacy.cookies.title' | translate }}</h2>
    <p>{{ 'privacy.cookies.description' | translate }}</p>
  </article>

  <article>
    <h2>{{ 'privacy.contacts.title' | translate }}</h2>
    <p>{{ 'privacy.contacts.description' | translate }}</p>
  </article>

  <p><i>{{ 'privacy.generatorNote' | translate }}</i></p>
</section>