@import '../../../../styles.scss';

.content{
    @include dFlex();
    flex-direction: row;
    width: 100%;
    max-width: 1920px
}

.project{
    @include dFlex(space-between);
    flex-direction: row;
    width: 880px;
    height: 110px;
    border-bottom: 1px solid rgba(61, 207, 182, 1);
    &:hover{
        background-color: rgba(61, 207, 182, 0.3);
        >.project-name{
            >img{
                display: block;
            }
        }
    }
}

.project-name{
    display: flex;
    gap: 9px;
    align-items: center;
    >img{
        display: none;
        width: 12px;
        height: 12px
    }
}

.projects-skills{
    @include dFlex(space-between);
    flex-direction: row;
    gap: 4px;
}
.skill{
    display: flex;
    gap: 4px;
}
.pipe {
    color: rgba(61, 207, 182, 1);
    font-size: 18px;
  }
.hover{
    background: white;
    border-radius: 20px;
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.2);
}
.img-shadow{
        background-color: #1e4b46; /* Dein dunkles Grün */
        background-image: repeating-linear-gradient(
          135deg,               /* diagonaler Winkel */
          #2ad3cb 0px,          /* Linienfarbe */
          #2ad3cb 2px,          /* Liniendicke */
          transparent 2px,      /* Abstand zur nächsten Linie */
          transparent 20px      /* Abstand insgesamt */
        );
        padding: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
}