<form>
    <div class="input-container border-top">
        <h1>What's your name?</h1>
        <input type="text" placeholder="Your name goes here">
    </div>
    <div class="input-container">
        <h1>What's your email?</h1>
        <input type="email" placeholder="youremail@email.com">
    </div>
    <div class="input-container">
        <h1>How can i help you?</h1>
        <input type="text" placeholder="Hello Mihael, I am interested in...">
    </div>
    <div class="check-box-container">
        <input class="checkbox" type="checkbox">
        <p>I've read the <a href="">privacy policy</a> and agree to the processing of my data as outlined.</p>
    </div>
</form>