<div class="contact-me-container" id="contact-me">
    <div class="container-left">
        <div>
            <h2>Contact me</h2>
        </div>
        <div class="title">
            <h1>Let's work</h1>
            <h1>togheter</h1>
        </div>
        <div>
            <h2>Got a problem to solve?</h2>
        </div>
        <div class="work-description">
            <p>Encourage people to contact you and describe what role you are interested in. Show that you will add value to their projects through your work. </p>
            <br>
            <p>Need a Frontend developer? <span>Let's talk!</span></p>
        </div>
    </div>
    <div class="contat-form">
        <app-contact-form></app-contact-form>
    </div>
</div>
