@import '../../../styles.scss';

.contact-me-container {
    @include dFlex(space-between);
    padding: 144px 0px;
    width: 100%;
    max-width: 1920px;
    gap: 64px;
    background-color: #1c1c1c;

    >.container-left {
        padding-left: 96px;
        width: 568px;
        @include dFlex(center, flex-start);
        flex-direction: column;

    }
}

.contat-form {
    padding-right: 96px;
}

h1 {
    margin-block-start: 0;
    margin-block-end: 0;
    line-height: 100%;
}

h2 {
    font-size: 24px;
    font-weight: 700;
    font-family: 'Fira Code';
    color: #3DCFB6;
}

span {
    color: #3DCFB6;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0%;
}

p {
    font-size: 16px;
    font-weight: 400;
}

.title {
    padding-top: 20px;
    padding-bottom: 40px;
}

.work-description {
    padding-top: 16px;
}

.message-feedback {
   /*  display: none; */
    position: absolute;
    width: 100vw;
    height: 100vh;
    /* background-color: rgba(0, 0, 0, 0.356); */
    justify-content: center;
    align-items: center;
}

.msg-box {
    height: 74px;
    width: 640px;
    position: absolute;
    background-color: #1E4B45;
    @include dFlex();
    color: white;
    font-size: 20px;
    border-radius: 20px;
    animation: overlaySlideIn 0.5s linear forwards;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    >h2{
        color: white;
        font-size: 20px;
    }
}

@keyframes overlaySlideIn {
    0% {
      top: 100%;
      left: 50%;
      transform: translate(-50%, 0);
    }
  
    100% {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

@media (max-width: 1220px) {
    .container-left {
        width: 100% !important;
        padding-left: 32px;
    }

    .contat-form {
        padding-right: 32px;
    }

    .contact-me-container {
        gap: 20px;
    }
}

@media (max-width: 1050px) {
    h1 {
        font-size: 54px;
    }

    h2 {
        font-size: 18px;
    }
}

@media(max-width: 991px) {
    .contact-me-container {
        flex-direction: column;
        width: 568px;
    }

    .container-left {
        padding: 0 !important;
    }
}

@media(max-width: 680px){
    .msg-box{
        width: 90%;
        text-align: center;
/*         margin-left: 16px;
        margin-right: 32px; */
    }
}

@media (max-width: 650px) {
    .contact-me-container {
        width: 100%;
    }

    .container-left {
        >div {
            padding-right: 16px !important;
            padding-left: 16px !important;
        }
    }

    .title {
        padding-bottom: 32px;
    }

    .work-description {
        padding-bottom: 64px;
    }

    .contat-form {
        padding: 0 16px !important;
    }
}

@media (max-width: 490px) {
    h1 {
        font-size: 38px !important;
    }

    h2 {
        font-size: 16px;
    }
}