@import '../../../../styles.scss';

.carousel-container {
  width: 100%;
  max-width: 1920px;
  /* margin: auto; */
  overflow: hidden;
  position: relative;
}

.carousel-track-wrapper {
  overflow: hidden;
}

.carousel-track {
  display: flex;
  gap: 60px;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding-top: 20px;
  padding-bottom: 20px;

  &::-webkit-scrollbar {
    display: none;
  }
}

.carousel-item {
  flex: 0 0 550px;
  background: #1e4b45;
  border: 1px solid #2ee5af;
  border-radius: 30px;
  color: white;
  text-align: center;
  opacity: 0.3;
  transition: transform 0.5s, opacity 0.5s;
  width: 100%;
  height: 240px;
  @include dFlex(space-around);
  flex-direction: column;

  &.active {
    transform: scale(1.05);
    opacity: 1;
    z-index: 2;
    border-color: #00ffcc;
  }

  &.prev,
  &.next {
    opacity: 0.6;
    transform: scale(0.95);
    z-index: 1;
  }
}

.carousel-controls {
  @include dFlex();
  padding-top: 20px;
  gap: 20px;

  .dots {
    display: flex;
    gap: 10px;

    .dot {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: #999;

      &.active {
        background: #00ffcc;
      }
    }
  }
}

.author {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;

  >.line {
    width: 100%;
    border: 1px solid white;
  }
}

hr {
  width: 100%;
}

.arrow {
  height: 35px;
  width: 35px;

  &:hover {
    cursor: pointer;
  }
}

.arrow-left-hover {
  display: none;
}

.arrow-right-hover {
  display: none;
}

.carousel-spacer {
  flex: 0 0 calc((100% - 550px) / 2);
}

.btn-left,
.btn-right {
  width: 50px;
  height: 50px;
}

.btn-left:hover {
  .arrow {
    display: none;
  }

  .arrow-left-hover {
    display: block;
  }
}

.btn-right:hover {
  .arrow {
    display: none;
  }

  .arrow-right-hover {
    display: block;
  }
}

@media (max-width: 640px) {
  .carousel-item {
    flex: 0 0 350px;
  }
}

@media (max-width: 640px) {
  .carousel-item {
    flex: 0 0 300px;
  }

  .carousel-spacer {
    flex: 0 0 calc((100% - 420px) / 2);
  }
}

@media (max-width: 350px) {
  .carousel-item {
    flex: 0 0 260px;
  }

  .carousel-spacer {
    flex: 0 0 calc((100% - 260px) / 2);
  }
}