.slide-text {
    width: 100%;
    overflow: hidden;
    position: absolute;
    bottom: 50px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    flex-direction: row;
    transform: rotate(-3deg);
    backdrop-filter: blur(5.300000190734863px);
    background-color: #FFFFFF1F;
    z-index: 1000;

    >ul {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        gap: 50px;
        animation: scrollText 25s linear infinite;
        padding-left: 50px;

        >li {
            font-family: 'Karla';
            font-size: 32px;
            font-weight: 400;
            font-weight: bold;
            color: #3DCFB6;
        }
    }
}


@keyframes scrollText {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}