<div class="burger-menu">
  <input type="checkbox" id="checkbox1" class="checkbox1 visuallyHidden" #checkboxToggle>
  <label for="checkbox1">
    <div class="hamburger hamburger1" (click)="toggleMenu()">
      <span class="bar bar1"></span>
      <span class="bar bar2"></span>
      <span class="bar bar3"></span>
      <span class="bar bar4"></span>
    </div>
  </label>
  <div #mobile id="mobile" class="mobile-menu" [class.open]="active">
    <div>
      <a (click)="closeMenu(checkboxToggle)" href="#about-me">{{"About me" | translate}}</a>
    </div>
    <div>
      <a (click)="closeMenu(checkboxToggle)" href="#skills">{{"Skills" | translate}}</a>
    </div>
    <div>
      <a (click)="closeMenu(checkboxToggle)" href="#projects">{{"Projects" | translate }}</a>
    </div>
    <div>
      <app-language-switch class="switch-lang"></app-language-switch>
    </div>
  </div>
</div>