@import '../../../styles.scss';

.content {
    @include dFlex(space-between);
    flex-direction: row;
    width: 100%;
    max-width: 1920px;
    background: radial-gradient(22.43% 43.85% at 1.22% 52.45%, rgba(8, 70, 59, 0.3) 0%, #1C1C1C 100%);

    >div {
        padding-left: 96px;
    }
}

.title {
    padding-bottom: 20px;

    >h1 {
        color: #3DCFB6;
        font-size: 24px;
        font-family: 'Fira Code';
        font-weight: 700;
    }
}

.skill-container {
    @include dFlex(flex-start, flex-start);
    flex-direction: column;
    width: 520px;
    background-color: #3DCFB61A;
    border: 1px solid #3DCFB6;
    border-radius: 30px;
    padding-top: 48px;

    >div {
        padding-left: 32px;
        padding-bottom: 32px;
        padding-right: 32px;
    }
}

.skill-icons {
    @include dFlex(flex-start, flex-start);
    gap: 72px;
    flex-wrap: wrap;
    width: 632px;
    padding-right: 96px;
}

.contact-me {
    >h2 {
        font-size: 24px;
        font-family: 'Fira Code';
        font-weight: 700;

        >span {
            color: #3DCFB6;
            font-size: 24px;
            font-family: 'Fira Code';
            font-weight: 700;
        }
    }
}

.icons {
    position: relative;
    @include dFlex();
    flex-direction: column;

    &:hover {
        >.title {
            cursor: pointer;
        }
    }
}

.icon {
    @include dFlex();
    flex-direction: column;
}

.title {
    width: 70px;

    >p {
        color: white;
        padding-top: 8px;
        font-size: 18px;
        text-align: center;
        flex-wrap: wrap;
    }
}

.icons:hover {
    >.icon {
        transform: scale(1.1);
    }

    >.title {
        >p {
            color: #3DCFB6;
        }
    }

    .tech-card {
        display: flex;
    }
}

.tech-card {
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 188px;
    height: 129px;
    top: -135px;
    left: -20px;
    z-index: 1000;

    &::after {
        content: "";
        position: absolute;
        bottom: -20px;
        left: 50%;
        transform: translateX(-180%);
        width: 0;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-top: 20px solid white;
    }

    p {
        color: #00c7b7;
        font-size: 16px;
        padding-bottom: 8px;
    }

    .tech-icons {
        display: flex;
        justify-content: center;
        gap: 16px;

        .tech-item {
            @include dFlex();
            flex-direction: column;

            img {
                padding-bottom: 5px;
            }

            span {
                color: #3DCFB6;
                font-weight: 500;
            }
        }
    }
}