@import '../../../styles.scss';

.content {
    @include dFlex(space-between);
    flex-direction: row;
    width: 100%;
    max-width: 1920px;
    background: radial-gradient(22.43% 43.85% at 1.22% 52.45%, rgba(8, 70, 59, 0.3) 0%, #1C1C1C 100%);
    >div{
        padding-left: 96px;
    }
}

.title {
    padding-bottom: 20px;

    >h1 {
        color: #3DCFB6;
        font-size: 24px;
        font-family: 'Fira Code';
        font-weight: 700;
    }
}

.skill-container {
    @include dFlex(flex-start, flex-start);
    flex-direction: column;
    width: 520px;
    background-color: #3DCFB61A;
    border: 1px solid #3DCFB6;
    border-radius: 30px;
    padding-top: 48px;

    >div {
        padding-left: 32px;
        padding-bottom: 32px;
        padding-right: 32px;
    }
}

.skill-icons {
    @include dFlex();
    gap: 72px;
    flex-wrap: wrap;
    width: 632px;
    padding-right: 96px;
}

.contact-me{
    >h2{
        font-size: 24px;
        font-family: 'Fira Code';
        font-weight: 700;
        >span{
            color: #3DCFB6;
            font-size: 24px;
            font-family: 'Fira Code';
            font-weight: 700;
        }
    }
}