@import '../../../styles.scss';

.content {
    @include dFlex(space-between);
    flex-direction: row;
    width: 100%;
    max-width: 1920px;

    >div {
        padding-left: 96px;
    }
}

.title {
    padding-bottom: 20px;

    >h1 {
        color: #3DCFB6;
        font-size: 24px;
        font-family: 'Karla';
        font-weight: 700;
        line-height: 100%;
        letter-spacing: 0%;
    }
}

.skill-container {
    @include dFlex(flex-start, flex-start);
    flex-direction: column;
    max-width: 652px;
    width: 100%;
    background-color: #3DCFB61A;
    border: 1px solid #3DCFB6;
    border-radius: 30px;
    padding-top: 48px;

    >div {
        padding-left: 32px;
        padding-bottom: 32px;
        padding-right: 32px;
    }
}

.skill-icons {
    @include dFlex(flex-start, flex-start);
    gap: 72px;
    flex-wrap: wrap;
    min-width: 632px;
    max-width: 632px;
    padding-right: 96px;
}

.contact-me {
    >h2 {
        font-size: 24px;
        font-family: 'Fira Code';
        font-weight: 700;

        >span {
            color: #3DCFB6;
            font-size: 24px;
            font-family: 'Fira Code';
            font-weight: 700;
        }
    }
}

.icons {
    position: relative;
    @include dFlex();
    flex-direction: column;

    &:hover {
        >.title {
            cursor: pointer;
        }
    }
}

.icon {
    @include dFlex();
    flex-direction: column;
}

.title {
    width: 70px;

    >p {
        color: white;
        padding-top: 8px;
        font-size: 18px;
        text-align: center;
        flex-wrap: wrap;
    }
}

.icons:hover {
    >.icon {
        transform: scale(1.1);
    }

    >.title {
        >p {
            color: #3DCFB6;
        }
    }

    .tech-card {
        display: flex;
    }
}

.tech-card {
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 188px;
    height: 129px;
    top: -135px;
    left: -20px;
    z-index: 1000;

    &::after {
        content: "";
        position: absolute;
        bottom: -20px;
        left: 50%;
        transform: translateX(-180%);
        width: 0;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-top: 20px solid white;
    }

    p {
        color: #00c7b7;
        font-size: 16px;
        padding-bottom: 8px;
    }

    .tech-icons {
        display: flex;
        justify-content: center;
        gap: 16px;

        .tech-item {
            @include dFlex();
            flex-direction: column;

            img {
                padding-bottom: 5px;
            }

            span {
                color: #3DCFB6;
                font-weight: 500;
            }
        }
    }
}

.btn-outline {
    display: inline-block;
    padding: 13px 24px;
    border: 1px solid white;
    border-radius: 100px;
    color: white;
    font-size: 18px;
    font-family: 'Karla';
    text-decoration: none;
    font-weight: 500;
    transition: border 0.3s, color 0.3s;
    overflow: hidden;
    position: relative;
  }
  
  .btn-outline:hover {
    border: 1px solid #3DCFB6;
    color: #3DCFB6;
  }
  
  .slide-text {
    display: inline-block;
    transition: transform 3s ease;
  }
  
  .btn-outline:hover .slide-text {
    animation: slide-reset 3s ease-in-out infinite;
  }
  
  @keyframes slide-reset {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    49% {
      transform: translateX(-100%);
      opacity: 0;
    }
    50% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @media (max-width: 1325px){
    .skill-icons{
        width: 100%;
        gap: 50px;
        min-width: 0;
    }
  }

  @media (max-width: 1220px){
    h1{
        font-size: 56px !important;
        padding-bottom: 20px !important;
        padding-top: 16px !important;
    }

    .title{
        h1{
            font-size: 24px !important;
            padding-bottom: 0 !important;
            padding-top: 0 !important;
        }
    } 
  }

  @media (max-width: 1030px){
    p{
        font-size: 16px !important;
    }
}

  @media (max-width: 940px){
    .content{
        flex-direction: column;
        gap: 40px;
        >div{
            padding: 16px;
        }
    }
    .skill-icons{
        padding: 16px;
        gap: 50px;
        justify-content: center;
    }
    .skill-container{
        >div{
            padding-bottom: 16px;
        }
    }
  }

  @media (max-width: 680px){
    .skill-icons{
        width: fit-content;
    }
  }

  @media (max-width: 500px){
    .skill-container{
        padding-top: 0;
    }
    h1{
        padding-bottom: 0 !important;
    }
    h2{
        font-size: 20px !important;
    }
    span{
        font-size: 20px !important;
    }
    a{
        font-size: 16px !important;
    }

    .btn-outline{
        padding: 10px 20px;
    }
  }
  @media (max-width: 440px){
    h1{
        font-size: 32px !important;
    }
    .title{
        h1{
            font-size: 18px !important;
        }
    }
  }
  @media (max-width: 420px){
    .skill-container{
        >div{
            padding-left: 16px;
            padding-right: 16px;
        }
    }
    a{
        font-size: 16px !important;
    }

    .btn-outline{
        padding: 7px 14px;
    }
  }

  @media (max-width: 340px){
    .btn-outline{
        padding: 3px 6px;
    }
  }
  @media (max-width: 325px){
    .btn-outline{
        padding: 2px 3px;
    }
  }