<div class="content">
    <div>
        <div class="title">
            <h1>Technologies</h1>
        </div>
        <div class="skill-container">
            <div>
                <h1>Skill Set</h1>
            </div>
            <div>
                <p>A short introduction of your skills. Highlight your experience of using different front-end
                    technologies and emphasise your openness to learning and adapting to new technologies. Show how
                    important it is for you to keep up with the rapid changes in web development.</p>
            </div>
            <div class="contact-me">
                <h2>You need <span>another skill?</span></h2>
            </div>
            <div>
                <p>Feel free to contact me. I look forward to expanding on my previous knowledge.</p>
            </div>
            <div class="buttons-container">
                <div>
                    <a href="">Lets Talk</a>
                </div>
            </div>
        </div>
    </div>
    <div class="skill-icons">
        <app-images-card *ngFor="let img of imageData" [imageSrc]="img.imageSrc" [text]="img.text"></app-images-card>
    </div>
</div>