* {
    margin: 0;
    cursor: url('./assets/img/cursor.png'), auto;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    max-width: 100vw;
}

body {
    background: linear-gradient(55.22deg, #1C1C1C 36.26%, #08463B 93.28%);
    overflow-x: hidden;
    max-width: 100vw;
}

@mixin dFlex($jc: center, $ai: center) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
}

@font-face {
    font-family: 'Fira Code';
    src: url('./assets/Fonts/Fira_Code/static/FiraCode-Regular.ttf');
}

@font-face {
    font-family: 'Karla';
    src: url('./assets/Fonts/Karla/static/Karla-Regular.ttf');
}

a {
    text-decoration: none;
    color: white;

    &:hover {
        cursor: pointer;
    }
}

a.test {
    color: #3DCFB6;
    font-size: 16px;
    font-family: 'Fira Code';

    &:hover {
        cursor: pointer;
        color: white;
        text-decoration: underline #3DCFB6;
    }
}

h1 {
    color: #3DCFB6;
    font-size: 64px;
    font-family: 'Fira Code';
    font-weight: 700;
    font-family: Fira Code;
    line-height: 100%;
    letter-spacing: -3%;

}

h2 {
    color: white;
    font-size: 18px;
}

h3 {
    color: white;
    font-size: 24px;
}

p {
    color: white;
    font-size: 18px;
    font-family: 'Karla';
    font-weight: 400;
}

button {
    border: none;
    background: none;
    padding: 0;
}

.buttons-container {
    @include dFlex();
    gap: 48px;
    padding-top: 40px;

    >div {
        border: 1px solid white;
        @include dFlex();
        height: 48px;
        width: 172px;
        border-radius: 100px;
        overflow: hidden;

        >a {
            position: relative;
            font-size: 18px;
            font-family: 'Karla';
            font-weight: 400;

            &:hover {
                cursor: pointer;
            }
        }

        &:hover {
            border: 1px solid rgba(61, 207, 182, 1);
            cursor: pointer;

            >a {
                color: rgba(61, 207, 182, 1);
            }
        }
    }
}

@keyframes mymove {
    0% {
        right: 0;
    }

    100% {
        right: 300px;
    }
}