*{
    margin: 0;
}
body{
    background: linear-gradient(55.22deg, #1C1C1C 36.26%, #08463B 93.28%);
/*     max-width: 1920px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; */
}

a{
    text-decoration: none;
    color: white;
}
