@import './../../../styles.scss';

.footer {
    /*     @include dFlex(space-between, flex-end);
    flex-direction: row; */
    width: 100%;
    max-width: 1920px;
    padding-top: 144px;
    padding-bottom: 64px;
    position: relative;
    flex-wrap: wrap;
    background-color: #1c1c1c;
}

.logo-container {
    @include dFlex(center, flex-start);
    flex-direction: column;
    padding-left: 96px;

    >img {
        position: absolute;
        left: 50px;
        top: 110px;
        height: 110px;
        width: 200px;
    }
}

.logo-container:hover {
    img {
        display: none;
    }

    .logo-hover {
        cursor: pointer;
        display: block;
    }
}

.logo-hover {
    display: none;
}

.links {
    @include dFlex(center, flex-start);
    flex-direction: column;
    gap: 8px;
    padding-right: 96px;

    >a {
        font-size: 20px;
        font-family: 'Karla';
        font-weight: 400;
        position: relative;
        display: inline-flex;
        align-items: center;

        &:hover {
            cursor: pointer;
            color: #3DCFB6;
        }
    }
}

.name {
    @include dFlex();
    height: 60px;

    >span {
        color: #3DCFB6;
        font-family: 'Fira Code';
        font-size: 18px;
    }

    ;
}

.dot {
    width: 8px;
    height: 8px;
    margin-right: 6px;
    border-radius: 50%;
    background-color: #6AD7BF;
    opacity: 0;
    transition: opacity 0.2s ease-in;
}

.dot-visible {
    opacity: 1;
}

.footer-container {
    width: 100%;
    @include dFlex(space-between, flex-end);
    flex-direction: row;
}

.name-mobile {
    display: none;
    height: 60px;

    >span {
        color: #3DCFB6;
        font-family: 'Fira Code';
        font-size: 18px;
    }

    ;
}

@media(max-width: 730px) {
    .logo-container {
        padding-left: 16px;

        >img {
            left: -25px;
        }
    }

    .links {
        padding-right: 16px;
    }
}

@media(max-width: 570px) {
    .name {
        display: none;
    }

    .name-mobile {
        @include dFlex();
    }

}