@import '../../../../styles.scss'; 


.icons{
    @include dFlex();
    flex-direction: column
}

.icon{
    @include dFlex();
    flex-direction: column;
    &.hover {
        transform: scale(1.1);
    }
}

.title{
    >p{
        color: white;
        padding-top: 8px;
        font-size: 18px;
        text-align: center;
    }
}